// style the sidebar like a folder tree
nav.td-sidebar-nav {

  // apply styles to the main sidebar sections
  .ul-1 {

    // reduce padding of the sidebar links
    .with-child {
      padding-left: 1.5rem;
      position: relative;
    }
    .without-child {
      padding-left: 0.7rem;
      position: relative;
    }

    // make the active link bold
    a.active {
      color: $primary !important;
      font-weight: 700 !important;
    }

    // bold the chain of pages leading to the active page
    .with-child.active-path > label a {
      font-weight: 700;
    }

    // show a border on the left of open sections
    .with-child > input:checked ~ ul {
      border-left: .1rem dotted $gray-400;

      // round the bottom left corner
      border-bottom-left-radius: 1rem;

      // position the border correctly
      padding-bottom: 0.25rem;
      margin-bottom: 0.5rem;
      margin-left: -0.77rem;
    }

    // color the border for the active path
    .with-child.active-path > ul {
      border-left: .1rem solid rgb(190, 212, 255) !important;
    }

    // make the arrow for open non-active sections gray
    .with-child > input:checked ~ label:before {
      color: $gray-900;
    }

    // make the arrow for open active sections blue
    .with-child.active-path > input:checked ~ label:before {
      color: $primary;
    }
  }
}

// prevent overflow of long names in sidebar
.td-sidebar-nav > ul {
  overflow-wrap: break-word;
}


// --------------------------------------------------
// fix the arrow transform animation on desktop
// --------------------------------------------------
@media (hover: hover) and (pointer: fine) {
  nav.td-sidebar-nav {
      .ul-1 .with-child > label:hover:before {
          transition: transform 0.3s;
      }

      .ul-1 .with-child > input:checked ~ label:hover:before {
          transition: transform 0.3s;
      }
  }
}

.text-red {
  color: $primary;
}
